.formstyle{
    width: 400px;
    height: 900px;
    margin: auto;
  }
  input{
      width: 90px;
      height: 90px;
      background-color: coral;
  }
  #answerstyle{
      width: 370px;
      font-size: large;
  }

  #clear{
      width: 370px;
  }